<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h1>Add a book</h1>
    <form action="/" method="post">
        <p><input type="text" name = "name" placeholder="Author's name:"></p>
        <p><input type="text" name = "title" placeholder="Title:"></p>

        <button type = "submit" >Done</button>
    </form>
</div>
<ul>
    <li th:each="kn : ${boks}" th:text ="${kn.title} + '-' + ${kn.author}"></li>
</ul>

<div>
    <h1>Delete all books</h1>
    <form action="/deleteAll" method="post">
        <button type="submit">Delete All Books</button>
    </form>
</div>
</body>
</html>